// Place all the styles related to the ebay_listing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ebay_listing {

  #show {
    position: relative;
    max-width: 950px;
    margin: auto;
  }

  #photos {
    display: block;
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

    #photo-thumbs {

      .gallery {
        text-align: center;
        margin: auto;
      }

      #photo-thumbs {
        text-align: center;
      }

      .photo-thumb {
        width: 100px;
        display: inline-block;
        padding: 12px;
      }
    }
  }

  #details {
    h1 {
      font-size: 13pt;
      margin-bottom: 9px;
    }

    margin-left: 420px;

    #price {

      .current {
        font-size: 2em;
        font-weight: bold;
        display: inline-block;
      }

      .original {
        display: inline-block;
        font-size: 0.75em;
        color: grey;
      }

      .best-offer {
        display: inline-block;
        margin-left: 12px;
        font-size: 0.75em;
      }
    }

    #item-numbers {
      float: right;
      text-align: right;
    }

    #status, #watchers, #quantities, #hits {
      margin: 12px 0;
    }

    #daily-hits {

      margin-bottom: 24px;

      #hits-chart {
        height: 150px;
      }

      #table {

        max-height: 60px;
        overflow: auto;
        margin-bottom: 8px;

        .no-hits {
          color: silver;
        }

        .row {
          margin: 4px 0 0 12px;

          .hits {
            display: inline-block;
            width: 60px;
            font-weight: bold;
          }

          .date {
            display: inline-block;
            width: 100px;
            font-size: 0.85em;
            font-style: italic;
          }

          .daily-hits {
            display: inline-block;
            width: 40px;
            text-align: right;
          }

          .on-sale {
            color: green;
          }
        }
      }
    }

    #booleans {

      ul li {
        list-style-type: none;
      }

      ul li.true {
        color: seagreen;

        /* http://www.columbia.edu/kermit/utf8-t1.html */
        &:before {
          content: "\2713 \0020 \0020";
        }
      }

      ul li.false {
        color: salmon;

        &:before {
          content: "\2717 \0020 \0020";
        }
      }
    }

    .active {
      color: green;
    }

    .ended {
      color: darkred;
    }
  }
}
